* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    width:100%;
    color: black;
}

.cheese-pic {
    width: 300px;
    height: 300px;
    
}

.cheese-pic:hover {

}

.list-cheeses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.list-cheeses li {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    position: relative;
    text-align: right;
}

.list-cheeses li a {
    padding-right: 20px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;    
}

.list-cheeses li div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.list-cheeses li:nth-child(1) div {
    background-image: url(/src/main/resources/static/images/Brie.jpg);
    background-size: cover;
    border-radius: 15px;
}

.list-cheeses li:nth-child(2) div {
    background-image: url(/src/main/resources/static/images/Mozzarella_cheese\ II.jpg);
    background-size: cover;
    border-radius: 15px;
}

.list-cheeses li:nth-child(3) div {
    background-image: url(/src/main/resources/static/images/ricotta\ cheese.jpg);
    background-size: cover;
    border-radius: 15px;
}