* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body { 
}

h1 {
    text-align: center;
    width:100%;
}

h6 {
    text-align: center;
}

.container {
    display: grid;
    grid-auto-rows: auto;
}
    
.CheeseSection {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2px;
    margin: 0 50px;
}

.soft-cheese {
    background-image: url("./images/Mozzarella\ Cheese.jfif");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
   
}

.hard-cheese {
    background-image: url("./images/Parmesan\ Cheese.jfif");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

.soft-cheese span, .hard-cheese span {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30pt;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 0 0 15px black;
    z-index: 100;
    position: relative;
}

.no-underline {
    text-decoration: none;
}

.soft-cheese div, .hard-cheese div {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 30%;
    border-radius: 15px;
}

.soft-cheese div {
    background-color: rgb(250, 182, 56);
}

.hard-cheese div {
    background-color: orange;
}

.color-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(250, 182, 56);
    opacity: 30%;
    border-radius: 15px;
    
}