* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    width:100%;
    color: black;
}

h3{
    margin: 10px 0;
    text-align: center;
}

.cheese-pic {
    width: 300px;
    height: 300px;
    
}

.list-cheeses {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: row;
    margin: 20px 0;
    flex-wrap: wrap;
}

.list-cheeses li {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    position: relative;
}

.list-cheeses a {
    line-height: 40px;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

.list-cheeses a span {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 20pt;
}

.list-cheeses a span::first-letter{
    text-transform: uppercase;
}

.list-cheeses li div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.list-cheeses img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.form-new-cheese {
    display:flex;
    flex-direction: column;
    color: darkslategray;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.form-new-cheese label{
    position: absolute;
    top: 7px;
    right: 105%;
    width: 150%;
    text-align: right;
}

.form-new-cheese input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(250, 182, 56, .6);
    border-bottom: 2px solid rgb(250, 182, 56);
}

.form-new-cheese .inputdiv{
    position: relative;
    width: 300px;
    height: 30px;
    margin: 10px;
}

.form-new-cheese textarea{
    padding: 5px;
    outline: none;
    background-color: rgba(250, 182, 56, .6);
    border: 2px solid rgb(250, 182, 56);
}

.submit {
    margin-top: 50px;
    padding: 5px 20px;
}