*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

.navigation-bar-top ul{
    display:flex;
    flex-direction: row;
    width: 100%;
    background-color: #52aa5e;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigation-bar-top li {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
}

.navigation-bar-top *{
    color: white;
    text-decoration: none;
    font-size: 14pt;
}

.navigation-bar-top li:hover{
    text-shadow: 0 0 10px #9cdfa5, 0 0 10px #9cdfa5, 0 0 10px #9cdfa5;
}
