<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/category-hard-layout&style.css" type="text/css" />
</head>
<body>
    <h1 th:text="${cheesecategory.cheeseType}"></h1>
    <ul class="list-cheese" th:each="reviewToDisplay: ${cheesecategory.reviews}">
        <a class="pic1" th:href="@{'/reviews/' + ${reviewToDisplay.cheeseName}}">
            <li>
                <span th:text="${reviewToDisplay.cheeseName}"></span>
            </li>
        </a>
    </ul>
    <form action="/reviews/add" method="POST">
        <label>
            NewCheese:
        </label>
        <input type="text" name="cheeseName" id=" ">
        <label>
            Texture:
        </label>
        <input type = "text" name = "texture" id = " ">
        <label>
            Milk Source:
        </label>
        <input type = "text" name = "milkSource" id = " ">
        <label>
            Geographic Location:
        </label>
        <input type ="text" name = "geographicLocation" id = " ">
        <label>
            Rating (? out of 5):
        </label>
        <input type = "text" name = "userRating" id = " ">
        <label>
            Comments:
        </label>
        <input type ="text" name = "userReviewComment" id = " ">
        <label>
            Tags:
        </label>
        <input type = "text" name = "hashTag" id =" ">
        <input type = "text" name = "cheeseType" th:value="${cheesecategory.cheeseType}" id = "">
        <button type="submit">Submit</button>
    </form>
<!--    <ul>-->
<!--        <li th:each="review: ${cheesecategory.reviews}"><a th:href="@{'/reviews/' + ${review.cheeseName}}" th:text =" ${review.cheeseName}"></a></li>-->
<!--        &lt;!&ndash;        We gotta adjust the tags later on &ndash;&gt;-->
<!--    </ul>-->

<a href="../">Home</a>
</body>
</html>