<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/navbar.css" />
    <title>Hashtags</title>
</head>
<body>
    <nav>
        <section class="navigation-bar">
            <div class="left-side">
                <div class="navigation-bar-top">
                    <ul>
                        <li><a href="../">Home</a></li>
                        <li th:each="cheesecategory: ${cheesecategories}">
                            <a th:text="${cheesecategory.cheeseType}"
                               th:href="@{'/categories/' + ${cheesecategory.cheeseType}}">Cheese Type</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </nav>
    <h1 th:text= "${hashTagToDisplay.hashTag}">Hashtag Name</h1>
    <h2 th:each= "review: ${hashTagToDisplay.reviews} " >
        <a th:href= "'/reviews/' + ${review.cheeseName}" th:text = "${review.cheeseName}"></a>
    </h2>
</body>
</html>