<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/review-layout&style.css" type="text/css" />
</head>
<body>
<h1 th:text="${reviewToDisplay.cheeseName}"></h1>

<section class="cheese-review">
    <section class="cheese-data">
        <h3 th:text="'Texture: '+${reviewToDisplay.texture}"></h3>
        <h3 th:text="'Milk Source: '+${reviewToDisplay.milkSource}"></h3>
        <h3 th:text="'Geographic Location: '+${reviewToDisplay.geographicLocation}"></h3>
        <h3 th:text="'Rating: '+${reviewToDisplay.userRating}+' out of 5'"></h3>
        <h3 th:text="'Comments: '+${reviewToDisplay.userReviewComment}"></h3>
    </section>

    <div class="photo"></div>
    <form action="/hashTags/add" method="POST">
        <label for="hashtag">
            #Hashtag:
        </label> 
        <input type="text" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122));"
        onchange="if (this.value[0] !== '#') this.value = '#' + this.value;" name="hashTag" id="hashtag">
        <input type="hidden" th:value="${reviewToDisplay.cheeseName}" name = "reviewName">
        <button type="submit">Submit</button>
    </form>
<!--    Photo option needs to be added to the database -->
</section>

<section class="tag-section">
    <div class="color-section"></div>

    <hr />
    <ul>
        <li th:each="hashTag: ${reviewToDisplay.hashTags}"><a th:href="@{'/hashtags/' + ${hashTag.hashTag}}" th:text ="${hashTag.hashTag}"></a></li>
<!--        We gotta adjust the tags later on -->
    </ul>
</section>


<a href="../">Home</a>
<!--<a th:href="@{'/categories/' +${'cheesecategory.cheesetype'}}">Hard Cheeses</a>-->



</body>
</html>