<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${reviewToDisplay.cheeseName}"></title>
    <link rel="stylesheet" href="/review-layout&style.css" type="text/css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/tag.css" />
</head>
<body>
    <nav>
        <section class="navigation-bar">
            <div class="left-side">
                <div class="navigation-bar-top">
                    <ul>
                        <li><a href="../">Home</a></li>
                        <li th:each="cheesecategory: ${cheesecategories}">
                            <a th:text="${cheesecategory.cheeseType}"
                               th:href="@{'/categories/' + ${cheesecategory.cheeseType}}">Cheese Type</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </nav>
<h1 th:text="${reviewToDisplay.cheeseName}"></h1>
<section class="cheese-review">
    <section class="cheese-data">
        <h3 th:text="'Texture: '+${reviewToDisplay.texture}"></h3>
        <h3 th:text="'Milk Source: '+${reviewToDisplay.milkSource}"></h3>
        <h3 th:text="'Geographic Location: '+${reviewToDisplay.geographicLocation}"></h3>
        <h3 th:text="'Rating: '+${reviewToDisplay.userRating}+' out of 5'"></h3>
        <h3 th:text="'Comments: '+${reviewToDisplay.userReviewComment}"></h3>
    </section>
    <div class="photo">
        <img th:src="@{'/images/' + ${reviewToDisplay.cheeseName} + '.jpg'}"/>
    </div>
    <form action="/hashTags/add" method="POST">
        <label for="hashtag">
            #Hashtag:
        </label> 
        <input type="text" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122));"
         name="hashTag" id="hashtag">
        <input type="hidden" th:value="${reviewToDisplay.cheeseName}" name = "reviewName">
        <button type="submit">Submit</button>
    </form>
</section>
<section class="tag-section">
    <div class="color-section"></div>
    <ul>
        <li th:each="hashTag: ${reviewToDisplay.hashTags}"><a th:href="@{'/hashTags/' + ${hashTag.hashTag}}" th:text ="'#' + ${hashTag.hashTag}"></a></li>
    </ul>
</section>
</body>
</html>